/* Misc */
@media screen and (prefers-reduced-motion: reduce) { html { scroll-behavior:auto } }
html {
scroll-behavior:smooth;
text-rendering:geometricPrecision
}

* {
padding:0;
margin:0
}
body {
font-family: var(--p-font-body);
background-color: var(--p-white)
}

/* Grid system */
.container {
  width: 100%;
}
.row {
display:-ms-grid;
display:grid;
-ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
grid-template-columns: repeat(12, 1fr);
grid-row-gap:15px;
grid-column-gap:10px;
}

.row>div>img {
  max-height: 100%;
  max-width: 100%
}

.row.justify-even { -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; }
.row.justify-around { -ms-flex-pack: distribute; justify-content: space-around; }
.row.justify-between { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.row.justify-center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.row.justify-start { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; }
.row.justify-end { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: end; }
.row.align-even { -ms-flex-line-pack: space-evenly; align-content: space-evenly; }
.row.align-around { -ms-flex-line-pack: distribute; align-content: space-around; }
.row.align-between { -ms-flex-line-pack: justify; align-content: space-between; }
.row.align-center { -ms-flex-line-pack: center; align-content: center; }
.row.align-start { -ms-flex-line-pack: start; align-content: start; }
.row.align-end { -ms-flex-line-pack: end; align-content: end; }

[class^="col-"] { padding: 15px }

.col-1 {
  -ms-grid-column-span: 1;
  grid-column: span 1;
}

.col-2 {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.col-3 {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.col-4 {
  -ms-grid-column-span: 4;
  grid-column: span 4;
}

.col-5 {
  -ms-grid-column-span: 5;
  grid-column: span 5;
}

.col-6 {
  -ms-grid-column-span: 6;
  grid-column: span 6;
}

.col-7 {
  -ms-grid-column-span: 7;
  grid-column: span 7;
}

.col-8 {
  -ms-grid-column-span: 8;
  grid-column: span 8;
}

.col-9 {
  -ms-grid-column-span: 9;
  grid-column: span 9;
}

.col-10 {
  -ms-grid-column-span: 10;
  grid-column: span 10;
}

.col-11 {
  -ms-grid-column-span: 11;
  grid-column: span 11;
}

.col-12 {
  -ms-grid-column-span: 12;
  grid-column: span 12;
}

.col-sm-1 {
  -ms-grid-column-span: 1;
  grid-column: span 1;
}

.col-sm-2 {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.col-sm-3 {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.col-sm-4 {
  -ms-grid-column-span: 4;
  grid-column: span 4;
}

.col-sm-5 {
  -ms-grid-column-span: 5;
  grid-column: span 5;
}

.col-sm-6 {
  -ms-grid-column-span: 6;
  grid-column: span 6;
}

.col-sm-7 {
  -ms-grid-column-span: 7;
  grid-column: span 7;
}

.col-sm-8 {
  -ms-grid-column-span: 8;
  grid-column: span 8;
}

.col-sm-9 {
  -ms-grid-column-span: 9;
  grid-column: span 9;
}

.col-sm-10 {
  -ms-grid-column-span: 10;
  grid-column: span 10;
}

.col-sm-11 {
  -ms-grid-column-span: 11;
  grid-column: span 11;
}

.col-sm-12 {
  -ms-grid-column-span: 12;
  grid-column: span 12;
}

@media only screen and (min-width: 700px) {
  .col-md-1 {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  .col-md-2 {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .col-md-3 {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }

  .col-md-4 {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }

  .col-md-5 {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }

  .col-md-6 {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .col-md-7 {
    -ms-grid-column-span: 7;
    grid-column: span 7;
  }

  .col-md-8 {
    -ms-grid-column-span: 8;
    grid-column: span 8;
  }

  .col-md-9 {
    -ms-grid-column-span: 9;
    grid-column: span 9;
  }

  .col-md-10 {
    -ms-grid-column-span: 10;
    grid-column: span 10;
  }

  .col-md-11 {
    -ms-grid-column-span: 11;
    grid-column: span 11;
  }

  .col-md-12 {
    -ms-grid-column-span: 12;
    grid-column: span 12;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-1 {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  .col-lg-2 {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .col-lg-3 {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }

  .col-lg-4 {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }

  .col-lg-5 {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }

  .col-lg-6 {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .col-lg-7 {
    -ms-grid-column-span: 7;
    grid-column: span 7;
  }

  .col-lg-8 {
    -ms-grid-column-span: 8;
    grid-column: span 8;
  }

  .col-lg-9 {
    -ms-grid-column-span: 9;
    grid-column: span 9;
  }

  .col-lg-10 {
    -ms-grid-column-span: 10;
    grid-column: span 10;
  }

  .col-lg-11 {
    -ms-grid-column-span: 11;
    grid-column: span 11;
  }

  .col-lg-12 {
    -ms-grid-column-span: 12;
    grid-column: span 12;
  }
}

/* Colors and supports */
:root {
font-size: 16px;
--p-blue:#2a7bde;
--p-blue-hover:#1957a2;
--p-red:#c4181d;
--p-red-hover:#801013;
--p-green:#4BB543;
--p-green-hover:#347d2e;
--p-purple:#7851a9;
--p-purple-hover:#533875;
--p-yellow:#ffd500;
--p-yellow-hover:#b39500;
--p-orange:#ff7b00;
--p-orange-hover:#b35600;
--p-pink:#ff748c;
--p-pink-hover:#ff284d;
--p-dark:#333;
--p-dark-hover:#595959;
--p-white: #fff;
--p-white-hover: #d3d3d3;
--p-grey: #808080;
--p-grey-hover: #000;
--p-black: #000;
--p-black-hover: #808080;
--p-light-grey: #d3d3d3;
--p-light-grey-hover: #808080;
}

button.blue:hover {
background-color:var(--p-blue-hover)
}

button.blue:active {
border:3px inset var(--p-blue-hover)
}

button.green:hover {
background-color:var(--p-green-hover)
}

button.green:active {
border:3px inset var(--p-green-hover)
}

button.red:hover {
background-color:var(--p-red-hover)
}

button.red:active {
border:3px inset var(--p-red-hover)
}

button.yellow:hover {
background-color:var(--p-yellow-hover)
}

button.yellow:active {
border:3px inset var(--p-yellow-hover)
}

button.orange:hover {
background-color:var(--p-orange-hover)
}

button.orange:active {
border:3px inset var(--p-orange-hover)
}

button.pink:hover {
background-color:var(--p-pink-hover)
}

button.pink:active {
border:3px inset var(--p-pink-hover)
}

button.purple:hover {
background-color:var(--p-purple-hover)
}

button.purple:active {
border:3px inset var(--p-purple-hover)
}

button.dark:hover {
background-color:var(--p-dark-hover)
}

button.dark:active {
border:3px inset var(--p-dark-hover)
}

button.white:hover {
background-color:var(--p-white-hover)
}

button.white:active {
border:3px inset var(--p-white-hover)
}

button.light-grey:hover {
background-color:var(--p-light-grey-hover)
}

button.light-grey:active {
border:3px inset var(--p-light-grey-hover)
}

button.grey:hover {
background-color:var(--p-grey-hover)
}

button.grey:active {
border:3px inset var(--p-grey-hover)
}

button.black:hover {
background-color:var(--p-black-hover)
}

button.black:active {
border:3px inset var(--p-black-hover)
}

.red {
background-color:var(--p-red)
}

.pink {
background-color:var(--p-pink)
}

.yellow {
background-color:var(--p-yellow)
}

.orange {
background-color:var(--p-orange)
}

.green {
background-color:var(--p-green)
}

.blue {
background-color:var(--p-blue)
}

.purple {
background-color:var(--p-purple)
}

.dark {
background-color:var(--p-dark)
}

.white {
background-color:var(--p-white)
}

.grey {
background-color:var(--p-grey)
}

.black {
background-color:var(--p-black)
}

.light-grey {
  background-color: var(--p-light-grey)
}

.text-red, a.text-red {
color:var(--p-red)
}

.text-pink, a.text-pink {
color:var(--p-pink)
}

.text-yellow, a.text-yellow {
color:var(--p-yellow)
}

.text-orange, a.text-orange {
color:var(--p-orange)
}

.text-green, a.text-green {
color:var(--p-green)
}

.text-blue, a.text-blue {
color:var(--p-blue)
}

.text-purple, a.text-purple {
color:var(--p-purple)
}

.text-dark, a.text-dark {
color:var(--p-dark)
}

.text-white, a.text-white {
color:var(--p-white)
}

.text-grey, a.text-grey {
color:var(--p-grey)
}

.text-black, a.text-black {
color:var(--p-black)
}

.text-light-grey, a.text-light-grey {
  color: var(--p-light-grey)
}

a.text-red:hover {
  color: var(--p-red-hover)
}
a.text-pink:hover {
  color: var(--p-pink-hover)
}
a.text-yellow:hover {
  color: var(--p-yellow-hover)
}
a.text-orange:hover {
  color: var(--p-orange-hover)
}
a.text-green:hover {
  color: var(--p-green-hover)
}
a.text-blue:hover {
  color: var(--p-blue-hover)
}
a.text-purple:hover {
  color: var(--p-purple-hover)
}
a.text-dark:hover {
  color: var(--p-dark-hover)
}
a.text-white:hover {
  color: var(--p-white-hover)
}
a.text-grey:hover {
  color: var(--p-grey-hover)
}
a.text-black:hover {
  color: var(--p-black-hover)
}
a.text-light-grey:hover {
  color: var(--p-light-grey-hover)
}
